* {
  font-family: 'Comfortaa', monospace;
  padding: 0;
  margin: 0;
}

body{
  background-color: #f5f5f5;
}

main{
  margin-top: 75px;
  min-height: 1000px;
  text-align: center;
}

header{
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
}

#loginNav{
  height: 75px;
  text-align: center;
}

#loginNav a{
  display: inline-block;
  vertical-align: top;
  margin: 15px 35px 0 35px;
  transition: all 200ms ease-in-out;
}

#loginNav a:hover{
  transform: scale(1.25);
  cursor: pointer;
}

#loginNav a:nth-of-type(3){
  margin-top: 0px;
}

#loginNav a span{
  display: inline-block;
  font-size: 15pt;
  vertical-align: top;
  margin: 12px 10px;
}

#loginNav a img{
  height: 75px;
}

#loginNav .loginNavIcons{
  font-size: 30pt;
}

#loginNav a:nth-of-type(1) .loginNavIcons{
  color: #0099ff;
}
#loginNav a:nth-of-type(2) .loginNavIcons{
  color: #aa00ff;
}
#loginNav a:nth-of-type(4) .loginNavIcons{
  color: #26a300;
}
#loginNav a:nth-of-type(5) .loginNavIcons{
  color: #ff6f00;
}

#backgroundLogo{
  background-image: url('./assets/motobuds_logo.png');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: center;
  left: 0px;
  min-height: 100vh;
  opacity: .1;
  position: fixed;
  top: 75px;
  width: 100%;
  z-index: -1;
}

#LoginAndReg #home div{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#LoginAndReg #home div h1{
  font-size: 35pt;
  margin: 30px 0;
}

#LoginAndReg #home div p{
  font-size: 1.75vw;
  padding: 0 0 0 3vw;
  text-align: left;
  margin: 30px 0;
}

#LoginAndReg #home a{
  background-color: #26a300;
  border-radius: 30px;
  display: inline-block;
  font-size: 15pt;
  font-weight: bold;
  padding: 10px 25px;
  width: 250px;
  transition: all 200ms ease-in-out;
}

#LoginAndReg #home a:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#LoginAndReg #home div:nth-of-type(2){
  width: 35%;
  padding: 50px 25px;
}

#LoginAndReg #home div:nth-of-type(3){
  width: 60%;
  padding: 150px 0 0 0;
}

#arrowIcon{
  vertical-align: top;
  font-size: 50pt;
  margin: 85px 20px 0 20px;
}

#LoginAndReg #home div img:nth-of-type(1){
  width: 150px;
}
#LoginAndReg #home div img:nth-of-type(2){
  border: solid black 5px;
  border-radius: 50%;
  width: 400px;
}

#signIn{
  padding: 50px 100px;
  text-align: center;
  margin-top: 100px;
}

#signIn h2{
  font-size: 35pt;
  text-align: left;
}

#signIn form{
  color: #fffff0;
  background-color: #2146bf;
  border-radius: 100px;
  display: inline-block;
  margin: 30px 0 0 0;
  padding: 25px 0;
  width: 75%;
  text-align: left;
}

#signIn form label{
  display: block;
  text-align: left;
  margin: 25px 0 0 0;
  font-size: 20pt;
  padding-left: 15%;
}

#signIn form input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid 3px black;
  color: #fffff0;
  display: inline-block;
  margin: 15px 0;
  padding: 15px;
  width: 65%;
  font-size: 20pt;
  margin-left: 15%;
}

#signIn form .passwordVisible{
  position: relative;
  top: 10px;
  right: 35px;
  font-size: 20pt;
  transition: ease-in-out all 200ms;
}
#signIn form .passwordVisible:hover{
  transform: scale(1.5);
  cursor: pointer;
}

#signIn form div{
  text-align: center;
}

#signIn form button{
  border-radius: 50px;
  display: inline-block;
  margin: 30px 0;
  font-size: 18pt;
  font-weight: bold;
  height: 50px;
  width: 300px;
  transition: all 200ms ease-in-out;
}

#signIn form button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#signIn p{
  color: #ff0000;
  font-size: 15pt;
  margin-top: 15px;
  text-align: center;
}

#register{
  padding: 50px 100px;
  text-align: center;
  margin-top: 100px;
}

#register h2{
  font-size: 35pt;
  text-align: left;
}

#register form{
  color: #fffff0;
  background-color: #2146bf;
  border-radius: 100px;
  display: inline-block;
  margin: 30px 0 0 0;
  padding: 25px 0;
  width: 75%;
  text-align: center;
}

#register form .nameField{
  display: inline-block;
  width: 41%;
}

#register form label{
  display: block;
  text-align: left;
  margin: 15px 0 0 0;
  font-size: 15pt;
  padding-left: 15%;
}

#register form input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid 3px black;
  color: #fffff0;
  display: inline-block;
  margin: 5px 0;
  padding: 15px;
  width: 65%;
  font-size: 15pt;
}

#register #firstName, #register #lastName{
  margin-left: 0%;
}

#registerEmail{
  position: relative;
  right: 13px;
}

#register form .passwordVisible{
  position: relative;
  top: 10px;
  right: 35px;
  font-size: 20pt;
  width: 27px;
  transition: ease-in-out all 200ms;
}
#register form .passwordVisible:hover{
  transform: scale(1.5);
  cursor: pointer;
}

#register form div{
  text-align: center;
}

#register form button{
  border-radius: 50px;
  display: inline-block;
  margin: 15px 0 0 0;
  font-size: 18pt;
  font-weight: bold;
  height: 50px;
  width: 300px;
  transition: all 200ms ease-in-out;
}

#register form button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#register h4{
  margin: 15px 0 0 0;
}

#register #validator{
  display: inline-block;
  text-align: left;
}

#register #validator span{
  display: block;
  font-size: 12pt;
  margin: 5px;
}

.valid, .invalid{
  margin: 0 10px;
}

#register #validator .valid{
  color: #11ff00;
}
#register #validator .invalid{
  color: #ff0000;
}

#register #errors{
  color: #ff0000;
  font-size: 15pt;
  margin-top: 15px;
}

footer{
  background-color: rgba(0, 0, 0, 0.25);
  padding: 25px 0;
  text-align: center;
}

footer p{
  margin: 25px 0;
}

footer img{
  width: 100px;
}



#homeNav{
  height: 75px;
  text-align: center;
}

#homeNav a, #homeNav div{
  color: #000;
  display: inline-block;
  vertical-align: top;
  margin: 15px 35px 0 35px;
  transition: all 200ms ease-in-out;
}

#homeNav a:hover, #homeNav div:hover{
  transform: scale(1.25);
  cursor: pointer;
}

#homeNav a:nth-of-type(3){
  margin-top: 0px;
}

#homeNav a span, #homeNav div span{
  display: inline-block;
  font-size: 15pt;
  vertical-align: top;
  margin: 12px 10px;
}

#homeNav a img{
  height: 75px;
}

#homeNav .homeNavIcons{
  font-size: 30pt;
}

#homeNav a:nth-of-type(1) .homeNavIcons{
  color: #0099ff;
}
#homeNav a:nth-of-type(2) .homeNavIcons{
  color: #aa00ff;
}
#homeNav div .homeNavIcons{
  color: #26a300;
}
#homeNav a:nth-of-type(4) .homeNavIcons{
  color: #ff6f00;
}

#loadingGIF{
  margin: 0;
}

#dashboard a{
  text-decoration: none;
}

#tripCard{
  background-color: lightgreen;
  border-radius: 20px;
  box-shadow: black 5px 5px 20px 5px;
  color: #000;
  display: inline-block;
  margin: 25px;
  padding: 15px;
  width: 250px;
  transition: 200ms ease-in-out all;
}

#tripCard:hover{
  transform: scale(1.2);
}

#tripDetails button{
  background-color: #00db25;
  border: none;
  border-radius: 20px;
  font-size: 18pt;
  height: 50px;
  position: absolute;
  right: 20px;
  transition: 200ms ease-in-out all;
  width: 200px;
}
#tripDetails #leaveRide{
  background-color: #ff0000;
}
#tripDetails button:hover{
  transform: scale(1.2);
}
#tripDetails button span{
  display: inline-block;
  margin-top: 8px;
  vertical-align: top;
}
.joinLeave{
  font-size: 25pt;
  margin: 0 10px 0 0;
}

#tripDetails h1{
  margin: 15px 0;
  padding: 15px 0 0 0;
}
#tripDetails h2{
  margin: 0 0 15px 0;
}
#tripDetails li{
  margin: 5px 0 0 0;
}

#addTripForm {
  background-color: #0099ff;
  display: inline-block;
  position: absolute;
  top: 75px;
  left: 5%;
  text-align: center;
  width: 90%;
  z-index: 1;
}

#addTripForm h4{
  display: inline-block;
  font-size: 20pt;
  min-height: 100vh;
  padding: 20px;
}

#closeForm{
  font-size: 25pt;
  left: 38%;
  position: relative;
  top: 7.5px;
  transition: 200ms all ease-in-out;
}

#closeForm:hover{
  transform: scale(1.5);
}